* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#waybar {
	background: #222233;
	color: #FFFFFF;
	font-family: Liberation Mono, Noto Sans, sans-serif;
	font-size: 14px;
}

#workspaces button,
#pulseaudio,
#clock { 
    color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#workspaces button.focused {
	background: #333344;
}
